<%- include('../partials/questions/head') %>
<body>
    <%- include('../partials/questions/header') %>
  <div class="main">
    <h1>404</h2>
    <h4>Uh oh... Did we mess up?</h4>
    <p>or was it you...</p>
    <h3>Hopefully this makes up for it...</h3>
    <img src='https://upload.wikimedia.org/wikipedia/commons/2/2e/500gfpx-Bacon.png' alt='bacon'>
  </div>
</body>