<!DOCTYPE html>
<head>
  <title>Node: Workshop 2</title>
  <link rel="stylesheet" href="./css/styles.css" />
</head>
<body>
  <%- include('../partials/questions/header') %>
  <div class="main">
    <h2>Part 2</h2>
    <div class="content">
      <%- include('../partials/questions/7') %>
      <div class="box answer">
        <h3>Answer</h3>
        <!-- render answer here -->
        <p>No answer required here...</p>
      </div>
    </div>
    <% const pageNum = 7 %>
    <div>
      <a href=<%-`../question${pageNum-1}` %>>Previous</a>     <a href=<%-`../question${pageNum+1}` %>>Next</a>
    </div>
  </div>
</body>
